!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
**/*.iml
*.ipr
.idea

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeanse

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/
.vite
/**/target/
**/dist/
/.env
/apps/promptlm-cli/spring-shell.log
/**/node_modules/
/components/ui/node_modules/
/**/storybook-static
/docker/data/

### Gitea Development Data ###
# Don't commit Gitea runtime data - use Docker volumes instead
gitea-data/
gitea-config/
.gitea/
.git.bck
.playwright-cli/
.venv
