prompts.jar
prompts.zip
/workflow-archive/active/package-prompts.yml
/workflow-archive/active/release.yml
/workflow-archive/active/zip-prompts.yml
/workflow-archive/active-gitea/package-prompts.yml
/workflow-archive/active-gitea/release.yml
/workflow-archive/active-gitea/zip-prompts.yml
/workflow-archive/parked/build-prompts-reusable.yml
/workflow-archive/parked/ci.yml
/workflow-archive/parked/deploy-artifactory.yml
/workflow-archive/parked/package-prompts.yml
/workflow-archive/parked/release.yml
/workflow-archive/parked/zip-prompts.yml
/workflow-archive/README.md
